body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #051424;
  color: white;
  padding-top: 5px;
  padding: 15px;
  text-align: center;
  font-size: 12px;
}

.lema {
  font-style: italic;
  margin-top: 5px;
}

section.registro {
  padding: 30px;
  background-color: black;
  color: white;
}

.registro h2 {
    font-weight: normal;
    text-align: center;
    margin: 1.5em;
    border-bottom: 0.1em solid white;
    padding: 0.5em;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: normal;
  font-style: italic;
}

label {
  font-size: 12px;
}

.placeholder {
  font-size: 12px;
}

form input, form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 2em;
  margin-top: 5px;
  text-align: center;
  color: gray;
  border: none;
  border-radius: 1em;
  border-bottom: 0.2em solid white;
  background-color: #000000;
}

button {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #051424;
  font-style: italic;
  color: white;
  border: none;
  cursor: pointer;
}

#mensaje {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  margin: 1em;
}

.checkbox {
    color: white;
    background-color: #222;
    padding: 2em;
    text-align: center;
    border-radius: 1em;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #111;
  color: white;
  font-weight: bold;
}

img {
  background-position: center;
  background-attachment: fixed;
  border-radius: 1em;
  width: 5em;
  height: 5em;
  margin: 0;
  padding: 0.2em;
  background-color: goldenrod;
}

.descargar {
  font-sze: 12px;
  text-align: center;
  margin: auto;
  padding: 30px;
  max-width: 600px;
  background-color: #051424;
  color: white;
  border-top: 0.1em solid goldenrod;
}

.descargar h2 {
  border-bottom: 0.1em solid goldenrod;
  padding: 0.5em;
}

.descargar a {
  color: goldenrod;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
}

option {
  color: white;
  background-color: #051424;
  font-weight: bold;
}







